@import 'normalize';

$myFont: monospace;
$colorBody: rgba(19, 42, 121, 0.773);
%videoSoleil {
    display: none;
    border: 0.7px solid black;
    width: 100%;
    border-radius: 28px;
    margin-top: 5px;
}
%css3Button {
    //border: 0.7px solid white;
    width: 70px;
    border-radius: 28px;
    padding: 5px 2px 7px 2px;
}

body {
    background-color: $colorBody;
    height: 100%;
}

html {
    height: 100%;
}


#INDEX {
    //display: none;
    border: 1px solid white;
    background-color: rgba(183, 210, 214, 0.1);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 0.5%;
    text-align: center;
}
#CV {
    //display: none;
    //border: 1px solid white;
    //background-color: rgba(183, 210, 214, 0.1);
    //border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 0.5%;
    text-align: center;
}
#ADM1N {
    //display: none;
    border: 1px solid white;
    background-color: rgba(183, 210, 214, 0.1);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 0.5%;
    text-align: center;
}
#JOUST {
    //display: none;
}

h1,
h2,
h3,
h4,
nav,
p   {
    color: white;
    text-align: center;
    font-family: $myFont;
    }

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    li { display: inline-block; }
    
    a {
        text-decoration: none;
    }
}

#navBar {
    display: block;
    position: fixed;
    background-color: rgba(29, 17, 122, 0.5);
    width: 100%;
    top: 0;
    margin: 0;
    height: 50px;
    z-index: 1;
}

.competen {
    border: 1px solid white;
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
  }

a.nav {
    margin: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: 1.1em;
    text-align: center;
    font-family: $myFont;
}

.css3but {
    width: 70px;
    border-radius: 28px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid white;
    font-family: $myFont;
    //background-image: linear-gradient(to bottom, rgba(52, 60, 219, 0.476), rgba(43, 32, 173, 0.5));
}

.css3but:hover {
    background: #3cb0fd;
    text-decoration: none;
}

.css3button {
    @extend %css3Button;
    background-image: linear-gradient(to bottom, rgba(52, 152, 219, 0.901), rgba(19, 43, 121, 0.5));
}

.css3button:hover {
    background-image: linear-gradient(to bottom, rgba(60, 176, 253, 0.49), #3498db);
    text-decoration: none;
}

.css3buttonRed {
    @extend %css3Button;
    margin: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: 1.1em;
    text-align: center;
    font-family: $myFont;
    background-image: linear-gradient(to bottom, rgba(139, 47, 47, 0.9), rgba(129, 44, 44, 0.5));
}
    
.css3buttonRed:hover {
    background-image: linear-gradient(to bottom, rgba(253, 60, 60, 0.8), rgba(253, 60, 60, 0.3));
    text-decoration: none;
}

.content {
  display: table;
  height: 100%;
  width: 94%;
  margin-left: 3%;
 }

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#m0ncentrage {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

#m0ncentrageAdmin {
    display: block;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.m0ncentrageParafoot {
    //border: 1px solid white;
    //background-color: rgba(183, 210, 214, 0.1);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 0.5%;
    text-align: center;
}

.m0ncentrage404 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 0.5%;
    text-align: center;
}

.paraFoot {
    color: white;
    text-align: center;
    font-family: $myFont;
    font-size: 1.2em;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
    margin-top: 5px;

}

#jugglejungle,
#s0leil {
@extend %videoSoleil;
}

#ci3l,
#m0nC4nvaM3r,
#m0nC4nvaC0lline {

}

#BtnJs0nPl4Y {
    position: absolute;
    background-color: transparent;
    color: white;
    width: 16%;
    left: 42%;
    right: 42%;
    margin-top: -50px;
    font-family: $myFont;
    border-radius: 28px;
    font-size: 1em;
    padding: 5px 15px 5px 15px;
}

#BtnJs0nPl4Y:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#snowB {
    display: block;
    background-image: url(/static/img/360backnoreverse.gif);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: 45% 14%;
    height: 50%;
    overflow: hidden;
}

#footer {
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: rgba(29, 17, 122, 0.5);
    //background-color: rgba(19, 43, 121, 0.6);
    font-size: 1em;
}

.minilogL {
    float: left;
    height: 35px;
    margin-top: 8px;
    margin-left: 8px;
}

.minilogR {
    float: right;
    height: 35px;
    margin-top: 8px;
    margin-right: 8px;
}

.myclock {
    position: absolute;
    font-size: 1em;
    color: #ffffff;
    left: 40%;
    right: 40%;
    top: 10px;
}