/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

#jugglejungle,
#s0leil {
  display: none;
  border: 0.7px solid black;
  width: 100%;
  border-radius: 28px;
  margin-top: 5px;
}

.css3buttonRed, .css3button {
  width: 70px;
  border-radius: 28px;
  padding: 5px 2px 7px 2px;
}

body {
  background-color: rgba(19, 42, 121, 0.773);
  height: 100%;
}

html {
  height: 100%;
}

#INDEX {
  border: 1px solid white;
  background-color: rgba(183, 210, 214, 0.1);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  margin-top: 0.5%;
  text-align: center;
}

#CV {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  margin-top: 0.5%;
  text-align: center;
}

#ADM1N {
  border: 1px solid white;
  background-color: rgba(183, 210, 214, 0.1);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  margin-top: 0.5%;
  text-align: center;
}

h1,
h2,
h3,
h4,
nav,
p {
  color: white;
  text-align: center;
  font-family: monospace;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
}

#navBar {
  display: block;
  position: fixed;
  background-color: rgba(29, 17, 122, 0.5);
  width: 100%;
  top: 0;
  margin: 0;
  height: 50px;
  z-index: 1;
}

.competen {
  border: 1px solid white;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: center;
}

a.nav {
  margin: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-size: 1.1em;
  text-align: center;
  font-family: monospace;
}

.css3but {
  width: 70px;
  border-radius: 28px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid white;
  font-family: monospace;
}

.css3but:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.css3button {
  background-image: linear-gradient(to bottom, rgba(52, 152, 219, 0.901), rgba(19, 43, 121, 0.5));
}

.css3button:hover {
  background-image: linear-gradient(to bottom, rgba(60, 176, 253, 0.49), #3498db);
  text-decoration: none;
}

.css3buttonRed {
  margin: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-size: 1.1em;
  text-align: center;
  font-family: monospace;
  background-image: linear-gradient(to bottom, rgba(139, 47, 47, 0.9), rgba(129, 44, 44, 0.5));
}

.css3buttonRed:hover {
  background-image: linear-gradient(to bottom, rgba(253, 60, 60, 0.8), rgba(253, 60, 60, 0.3));
  text-decoration: none;
}

.content {
  display: table;
  height: 100%;
  width: 94%;
  margin-left: 3%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#m0ncentrage {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

#m0ncentrageAdmin {
  display: block;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 70px;
  margin-bottom: 100px;
}

.m0ncentrageParafoot {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  margin-top: 0.5%;
  text-align: center;
}

.m0ncentrage404 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  margin-top: 0.5%;
  text-align: center;
}

.paraFoot {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 1.2em;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#BtnJs0nPl4Y {
  position: absolute;
  background-color: transparent;
  color: white;
  width: 16%;
  left: 42%;
  right: 42%;
  margin-top: -50px;
  font-family: monospace;
  border-radius: 28px;
  font-size: 1em;
  padding: 5px 15px 5px 15px;
}

#BtnJs0nPl4Y:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#snowB {
  display: block;
  background-image: url(/static/img/360backnoreverse.gif);
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: 45% 14%;
  height: 50%;
  overflow: hidden;
}

#footer {
  display: block;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-color: rgba(29, 17, 122, 0.5);
  font-size: 1em;
}

.minilogL {
  float: left;
  height: 35px;
  margin-top: 8px;
  margin-left: 8px;
}

.minilogR {
  float: right;
  height: 35px;
  margin-top: 8px;
  margin-right: 8px;
}

.myclock {
  position: absolute;
  font-size: 1em;
  color: #ffffff;
  left: 40%;
  right: 40%;
  top: 10px;
}

/*# sourceMappingURL=styles.css.map */
